<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChickenInfoLabel" jhiTranslate="luckystarApp.chickenInfo.home.createOrEditLabel">Create or edit a Chicken Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!chickenInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chickenInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.chickenInfo.userName" for="field_userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="field_userName"
                [(ngModel)]="chickenInfo.userName" required maxlength="10" />
            <div [hidden]="!(editForm.controls.userName?.dirty && editForm.controls.userName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.chickenInfo.nickName" for="field_nickName">Nick Name</label>
            <input type="text" class="form-control" name="nickName" id="field_nickName"
                [(ngModel)]="chickenInfo.nickName" maxlength="50" />
            <div [hidden]="!(editForm.controls.nickName?.dirty && editForm.controls.nickName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nickName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.chickenInfo.starId" for="field_starId">Star Id</label>
            <input type="number" class="form-control" name="starId" id="field_starId"
                [(ngModel)]="chickenInfo.starId" required />
            <div [hidden]="!(editForm.controls.starId?.dirty && editForm.controls.starId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.starId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.starId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.chickenInfo.regDate" for="field_regDate">Reg Date</label>
            <div class="input-group">
                <input id="field_regDate" type="text" class="form-control" name="regDate" ngbDatepicker  #regDateDp="ngbDatepicker" [(ngModel)]="chickenInfo.regDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="regDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.regDate?.dirty && editForm.controls.regDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.regDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.chickenInfo.cookie" for="field_cookie">Cookie</label>
            <input type="text" class="form-control" name="cookie" id="field_cookie"
                [(ngModel)]="chickenInfo.cookie" maxlength="10480" />
            <div [hidden]="!(editForm.controls.cookie?.dirty && editForm.controls.cookie?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cookie?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10480 }">
                   This field cannot be longer than 10480 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.chickenInfo.timeRate" for="field_timeRate">Time Rate</label>
            <input type="number" class="form-control" name="timeRate" id="field_timeRate"
                [(ngModel)]="chickenInfo.timeRate" required />
            <div [hidden]="!(editForm.controls.timeRate?.dirty && editForm.controls.timeRate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.timeRate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.timeRate?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.chickenInfo.beanRate" for="field_beanRate">Bean Rate</label>
            <input type="number" class="form-control" name="beanRate" id="field_beanRate"
                [(ngModel)]="chickenInfo.beanRate" required />
            <div [hidden]="!(editForm.controls.beanRate?.dirty && editForm.controls.beanRate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.beanRate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.beanRate?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.chickenInfo.state" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="chickenInfo.state" id="field_state"  required>
                <option value="OFF" jhiTranslate="luckystarApp.State.OFF">OFF</option>
                <option value="ON" jhiTranslate="luckystarApp.State.ON">ON</option>
            </select>
            <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.state?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="luckystarApp.chickenInfo.laborUnion" for="field_laborUnion">Labor Union</label>
            <select class="form-control" id="field_laborUnion" name="laborUnion" [(ngModel)]="chickenInfo.laborUnion" >
                <option [ngValue]="null"></option>
                <option [ngValue]="laborUnionOption.id === chickenInfo.laborUnion?.id ? chickenInfo.laborUnion : laborUnionOption" *ngFor="let laborUnionOption of laborunions; trackBy: trackLaborUnionById">{{laborUnionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
