<div>
    <h2>
        <span jhiTranslate="luckystarApp.chickenInfo.home.title">Chicken Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-chicken-info" [routerLink]="['/', { outlets: { popup: ['chicken-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="luckystarApp.chickenInfo.home.createLabel">
            Create new Chicken Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chickenInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userName"><span jhiTranslate="luckystarApp.chickenInfo.userName">User Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nickName"><span jhiTranslate="luckystarApp.chickenInfo.nickName">Nick Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="starId"><span jhiTranslate="luckystarApp.chickenInfo.starId">Star Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="regDate"><span jhiTranslate="luckystarApp.chickenInfo.regDate">Reg Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cookie"><span jhiTranslate="luckystarApp.chickenInfo.cookie">Cookie</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeRate"><span jhiTranslate="luckystarApp.chickenInfo.timeRate">Time Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="beanRate"><span jhiTranslate="luckystarApp.chickenInfo.beanRate">Bean Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="luckystarApp.chickenInfo.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="laborUnion.id"><span jhiTranslate="luckystarApp.chickenInfo.laborUnion">Labor Union</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chickenInfo of chickenInfos ;trackBy: trackId">
                <td><a [routerLink]="['../chicken-info', chickenInfo.id ]">{{chickenInfo.id}}</a></td>
                <td>{{chickenInfo.userName}}</td>
                <td>{{chickenInfo.nickName}}</td>
                <td>{{chickenInfo.starId}}</td>
                <td>{{chickenInfo.regDate | date:'mediumDate'}}</td>
                <td>{{chickenInfo.cookie}}</td>
                <td>{{chickenInfo.timeRate}}</td>
                <td>{{chickenInfo.beanRate}}</td>
                <td jhiTranslate="{{'luckystarApp.State.' + chickenInfo.state}}">{{chickenInfo.state}}</td>
                <td>
                    <div *ngIf="chickenInfo.laborUnion">
                        <a [routerLink]="['../labor-union', chickenInfo.laborUnion?.id ]" >{{chickenInfo.laborUnion?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../chicken-info', chickenInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chicken-info/'+ chickenInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chicken-info/'+ chickenInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="chickenInfos && chickenInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
