<div>
    <h2>
        <span jhiTranslate="luckystarApp.laborUnion.home.title">Labor Unions</span>
        <button class="btn btn-primary float-right jh-create-entity create-labor-union" [routerLink]="['/', { outlets: { popup: ['labor-union-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="luckystarApp.laborUnion.home.createLabel">
            Create new Labor Union
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="laborUnions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lId"><span jhiTranslate="luckystarApp.laborUnion.lId">L Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="luckystarApp.laborUnion.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="regDate"><span jhiTranslate="luckystarApp.laborUnion.regDate">Reg Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="luckystarApp.laborUnion.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="luckystarApp.laborUnion.type">Type</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="user.login"><span jhiTranslate="luckystarApp.laborUnion.user">User</span> <span class="fa fa-sort"></span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>




            <tr *ngFor="let laborUnion of laborUnions ;trackBy: trackId">
                <td><a [routerLink]="['../labor-union', laborUnion.id ]">{{laborUnion.id}}</a></td>
                <td>{{laborUnion.lId}}</td>
                <td>{{laborUnion.name}}</td>
                <td>{{laborUnion.regDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'luckystarApp.State.' + laborUnion.state}}">{{laborUnion.state}}</td>
                <td jhiTranslate="{{'luckystarApp.Source.' + laborUnion.type}}">{{laborUnion.type}}</td>
                <!--<td>-->
                    <!--{{laborUnion.user?.login}}-->
                <!--</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../labor-union', laborUnion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'labor-union/'+ laborUnion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'labor-union/'+ laborUnion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="laborUnions && laborUnions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
