<div>
    <h2>
        <span jhiTranslate="luckystarApp.workInfo.home.title">Work Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-work-info" [routerLink]="['/', { outlets: { popup: ['work-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="luckystarApp.workInfo.home.createLabel">
            Create new Work Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="starLevel"><span jhiTranslate="luckystarApp.workInfo.starLevel">Star Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="richLevel"><span jhiTranslate="luckystarApp.workInfo.richLevel">Rich Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fisrtBean"><span jhiTranslate="luckystarApp.workInfo.fisrtBean">Fisrt Bean</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="beanTotal"><span jhiTranslate="luckystarApp.workInfo.beanTotal">Bean Total</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="coin"><span jhiTranslate="luckystarApp.workInfo.coin">Coin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="coinTotal"><span jhiTranslate="luckystarApp.workInfo.coinTotal">Coin Total</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fansCount"><span jhiTranslate="luckystarApp.workInfo.fansCount">Fans Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="followCount"><span jhiTranslate="luckystarApp.workInfo.followCount">Follow Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="experience"><span jhiTranslate="luckystarApp.workInfo.experience">Experience</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="workTime"><span jhiTranslate="luckystarApp.workInfo.workTime">Work Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="curMonth"><span jhiTranslate="luckystarApp.workInfo.curMonth">Cur Month</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="curDay"><span jhiTranslate="luckystarApp.workInfo.curDay">Cur Day</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastTime"><span jhiTranslate="luckystarApp.workInfo.lastTime">Last Time</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workInfo of workInfos ;trackBy: trackId">
                <td><a [routerLink]="['../work-info', workInfo.id ]">{{workInfo.id}}</a></td>
                <td>{{workInfo.starLevel}}</td>
                <td>{{workInfo.richLevel}}</td>
                <td>{{workInfo.fisrtBean}}</td>
                <td>{{workInfo.beanTotal}}</td>
                <td>{{workInfo.coin}}</td>
                <td>{{workInfo.coinTotal}}</td>
                <td>{{workInfo.fansCount}}</td>
                <td>{{workInfo.followCount}}</td>
                <td>{{workInfo.experience}}</td>
                <td>{{workInfo.workTime}}</td>
                <td>{{workInfo.curMonth}}</td>
                <td>{{workInfo.curDay | date:'mediumDate'}}</td>
                <td>{{workInfo.lastTime | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../work-info', workInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-info/'+ workInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-info/'+ workInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="workInfos && workInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
