<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWorkInfoLabel" jhiTranslate="luckystarApp.workInfo.home.createOrEditLabel">Create or edit a Work Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!workInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="workInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.starId" for="field_starId">Star Id</label>
            <input type="number" class="form-control" name="starId" id="field_starId"
                [(ngModel)]="workInfo.starId" required />
            <div [hidden]="!(editForm.controls.starId?.dirty && editForm.controls.starId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.starId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.starId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.starLevel" for="field_starLevel">Star Level</label>
            <input type="number" class="form-control" name="starLevel" id="field_starLevel"
                [(ngModel)]="workInfo.starLevel"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.starName" for="field_starName">Star Name</label>
            <input type="text" class="form-control" name="starName" id="field_starName"
                [(ngModel)]="workInfo.starName" maxlength="20" />
            <div [hidden]="!(editForm.controls.starName?.dirty && editForm.controls.starName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.starName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.richLevel" for="field_richLevel">Rich Level</label>
            <input type="number" class="form-control" name="richLevel" id="field_richLevel"
                [(ngModel)]="workInfo.richLevel"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.richName" for="field_richName">Rich Name</label>
            <input type="text" class="form-control" name="richName" id="field_richName"
                [(ngModel)]="workInfo.richName" maxlength="20" />
            <div [hidden]="!(editForm.controls.richName?.dirty && editForm.controls.richName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.richName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.fisrtBean" for="field_fisrtBean">Fisrt Bean</label>
            <input type="number" class="form-control" name="fisrtBean" id="field_fisrtBean"
                [(ngModel)]="workInfo.fisrtBean"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.beanTotal" for="field_beanTotal">Bean Total</label>
            <input type="number" class="form-control" name="beanTotal" id="field_beanTotal"
                [(ngModel)]="workInfo.beanTotal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.coin" for="field_coin">Coin</label>
            <input type="number" class="form-control" name="coin" id="field_coin"
                [(ngModel)]="workInfo.coin"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.coinTotal" for="field_coinTotal">Coin Total</label>
            <input type="number" class="form-control" name="coinTotal" id="field_coinTotal"
                [(ngModel)]="workInfo.coinTotal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.fansCount" for="field_fansCount">Fans Count</label>
            <input type="number" class="form-control" name="fansCount" id="field_fansCount"
                [(ngModel)]="workInfo.fansCount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.followCount" for="field_followCount">Follow Count</label>
            <input type="number" class="form-control" name="followCount" id="field_followCount"
                [(ngModel)]="workInfo.followCount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.experience" for="field_experience">Experience</label>
            <input type="number" class="form-control" name="experience" id="field_experience"
                [(ngModel)]="workInfo.experience"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.workTime" for="field_workTime">Work Time</label>
            <input type="number" class="form-control" name="workTime" id="field_workTime"
                [(ngModel)]="workInfo.workTime"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.curMonth" for="field_curMonth">Cur Month</label>
            <input type="number" class="form-control" name="curMonth" id="field_curMonth"
                [(ngModel)]="workInfo.curMonth" required />
            <div [hidden]="!(editForm.controls.curMonth?.dirty && editForm.controls.curMonth?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.curMonth?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.curMonth?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.curDay" for="field_curDay">Cur Day</label>
            <div class="input-group">
                <input id="field_curDay" type="text" class="form-control" name="curDay" ngbDatepicker  #curDayDp="ngbDatepicker" [(ngModel)]="workInfo.curDay"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="curDayDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.curDay?.dirty && editForm.controls.curDay?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.curDay?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="luckystarApp.workInfo.lastTime" for="field_lastTime">Last Time</label>
            <div class="d-flex">
                <input id="field_lastTime" type="datetime-local" class="form-control" name="lastTime" [(ngModel)]="workInfo.lastTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.lastTime?.dirty && editForm.controls.lastTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="luckystarApp.workInfo.taskInfo" for="field_taskInfo">Task Info</label>
            <select class="form-control" id="field_taskInfo" name="taskInfo" [(ngModel)]="workInfo.taskInfo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="taskInfoOption.id === workInfo.taskInfo?.id ? workInfo.taskInfo : taskInfoOption" *ngFor="let taskInfoOption of taskinfos; trackBy: trackTaskInfoById">{{taskInfoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
